@font-face {
    font-family: 'PokemonGB';
    src: url('PokemonGb-RAeo.ttf') format('truetype');
}

body {
    font-family: 'PokemonGB', Arial, sans-serif;
}

.tenor-gif-embed {
    margin-left: auto;
    margin-right: auto;
    display: block; /* Garante que a margem automática funcione */
}

header {
    text-align: center;
}

body, input, label, select, button {
    font-family: 'PokemonGB', Arial, sans-serif;
}

fieldset {
    display: flex; /* Ativa o flexbox */
    flex-direction: column; /* Organiza os filhos em colunas */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: flex-start; /* Alinha os itens para o início do container */
    border: 2px solid #000; /* Define a largura, o estilo e a cor da borda */
    border-radius: 5px; /* Adiciona cantos arredondados à borda */
    padding: 10px;
    padding-bottom: 40px; /* Reduz o preenchimento inferior para diminuir o espaço no final */
    background-color: #f0f0f0; /* Define a cor de fundo */
    margin-bottom: 50px; /* Adiciona uma margem inferior para separar os fieldsets */
    margin-top: 50px; /* Adiciona uma margem superior para criar espaço entre o GIF e o fieldset */
    box-shadow: 0 4px #999;
}

.pokemon-choice {
    margin: 5px 0; /* Ajusta para uma margem menor para reduzir o espaço entre as opções */
}

input[type="text"] {
    width: auto; /* Define a largura da caixa de entrada */
    padding: 10px; /* Adiciona preenchimento interno */
    border: 2px solid #080808; /* Define a largura, o estilo e a cor da borda corretamente */
    border-radius: 5px; /* Adiciona cantos arredondados à borda */
    box-sizing: border-box; /* Garante que o preenchimento e a borda estejam incluídos na largura total */
    box-shadow: 0 4px #999;
    margin-top: 15px;
}

button {
    background-color: white; /* Cor de fundo branca */
    color: black; /* Cor do texto preta */
    border: 2px solid black; /* Borda preta para combinar com a cor do texto */
    border-radius: 10px; /* Cantos arredondados para um visual suave */
    padding: 10px 20px; /* Preenchimento interno para aumentar a área clicável e melhorar a aparência */
    font-family: 'PokemonGB', Arial, sans-serif; /* Fonte personalizada com fallback */
    font-size: 16px; /* Tamanho do texto */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
    box-shadow: 0 4px #999; /* Sombra abaixo do botão para dar efeito de profundidade */
    transition: all 0.3s; /* Transição suave para efeitos de hover e active */
    margin-top: 20px;
    cursor: url('bola.png'), pointer; /* Cursor personalizado com fallback */
}
